.cube {
    width: 350px;
    height: 350px;
    border: 2px solid black;
}

button {
    margin-block: 2rem;
    background-color: gray;
    border-radius: 5px;
    border: 1px solid black;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(218, 213, 213);
}

body {
    position: relative;
}